.slides {
  display: flex;
  /*! flex: max-content; */
  align-items: center;
  justify-content: center;
}

.slides section:not(.video) {
  max-width: var(--slide-width);
}

:root {
    --r-heading-text-transform: none !important;
    --r-background-color: #190022 !important;
    --r-heading1-size: 1.5em;
}
.footnotes {
    margin-top: 1em;
    font-size: 0.6em;
}
fnref {
    font-size: 0.7em;
    vertical-align: super;
}
.footnotes li {
    list-style: none;
    padding: 0;
}
.footnotes li::marker {
    content: "[" counter(list-item) "]\a0\a0";
}

.reveal[data-transition-speed="faster"] .slides section {
	transition-duration: 100ms;
}

.img-container {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    height: 400px;
}

.reveal .slide-number {
    font-size: 20px !important;
}

@media screen {
    .meta {
        padding: 0.1em 0.5em;
        background-color: #540362;
    }
}

.reveal pre {
    margin: 0;
    padding: 0.5em;
}
.reveal .code-wrapper code {
    white-space: pre-wrap !important;
}

.reveal .slides {
    text-align: left !important;
}
