<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content="{{ get_url(path='icon.png') | safe }}" />

    <meta name="theme-color" content="#540362" />
    <!-- <link rel="icon" href="{{ get_url(path='icon.png') | safe }}"> -->
    <link rel="alternate" href="/rss.xml">

    {% block pagemeta %}
    <!-- <meta name="description" content="{{ config.description }}"> -->
    <meta property="og:description" content="{{ config.description }}" />

    <title>{{ config.title }}</title>
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:url" content="{{ current_url | safe }}" />
    {% endblock pagemeta %}

    <link type="text/css" rel="stylesheet" href="{{ get_url(path='css/normalize.css', cachebust=true) | safe }}">
    <link type="text/css" rel="stylesheet" href="{{ get_url(path='/main.css', cachebust=true) | safe }}">
</head>
<body>
    <header>
        {# linear row of page links #}
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/">{{ config.title }}</a>
                </li>{#
                #}<li>
                    <a href="/about">About</a>
                </li>{#
                #}<li>
                    <a href="https://github.com/lf-">GitHub</a>
                </li>
            </ul>
        </nav>
    </header>
    <main role="main">
        {% block content %}
        <h1 style="color: #f00">You should not see this.</h1>
        {% endblock content %}
    </main>

    <footer>
        <p>{{ config.extra.copyright }}</p>
    </footer>
</body>
</html>