{% extends "base.html" %}

{% block content %}
{% for page in section.pages %}
    {% if page.extra.isPage %}
    {% continue %}
    {% endif %}
    <article class="homepage-article">
        <a class="homepage-link" href="{{ page.permalink }}"><h2>{{ page.title }}</h2></a>
        <div class="detail">
            <span>{{ page.date | date(format=config.extra.dtformat) }}</span>
            <span>{{ page.reading_time }} minute read</span>
        </div>
    </article>
{% endfor %}

{% if config.extra.debug %}
    <pre><code>{{ __tera_context | escape | safe }}</code></pre>
{% endif %}
{% endblock content %}