{% extends "base.html" %}

{% block content %}
{% for page in section.pages %}
    {% if page.extra.isPage %}
    {% continue %}
    {% endif %}
    <article class="homepage-article" typeof="BlogPosting" resource="{{ page.permalink | safe }}">
        <a class="homepage-link" href="{{ page.permalink | safe }}">
            <h2 property="headline">{{ page.title | markdown(inline=true) | safe }}</h2>
        </a>
        <div class="detail">
            <span property="datePublished"
                content="{{ page.date | date}}"
                >{{ page.date | date(format=config.extra.dtformat) }}</span>
            <span>{{ page.reading_time }} minute read</span>
        </div>
    </article>
{% endfor %}

{% if config.extra.debug and config.mode == "Serve" %}
    <pre><code>{{ __tera_context | escape | safe }}</code></pre>
{% endif %}
{% endblock content %}
